VITE_ENTER_ANALYTICS_ENABLED=true
VITE_ENTER_ANALYTICS_TOKEN=
VITE_ENTER_PROJECT_ID=
VITE_ENTER_ANALYTICS_ENDPOINT=https://api.enter.pro
VITE_ENTER_ANALYTICS_DEFINITIONS_ENDPOINT=
VITE_ENTER_ANALYTICS_DEBUG=false
VITE_API_URL=https://agnes-backend.onrender.com
VITE_API_KEY=agnes-secreta-2026