# APIs GRÁTIS
GROQ_API_KEY=gsk_...
MISTRAL_API_KEY=...


# PLATAFORMAS PAGAS
ADAPTA_API_KEY=...
INNER_API_KEY=...
MOISES_API_KEY=...

# CONFIGURAÇÃO
NODE_ENV=development
PORT=3000
TIMEZONE=America/Sao_Paulo

# ===== GITHUB =====
GITHUB_TOKEN=ghp_...
GITHUB_USER=hub3pixellab
GITHUB_REPO=hub3pixellab/hub3jarvis
